<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./theme/css/elegant.prod.9e9d5ce754.css" media="screen">
        <link rel="stylesheet" type="text/css" href="./theme/css/custom.css" media="screen">

        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

        <meta name="author" content="Harry Zheng" />

        <meta property="og:type" content="article" />
        <meta name="twitter:card" content="summary">

<meta name="keywords" content="Kubernetes, Kubernetes, " />

<meta property="og:title" content="Kubernetes Basics "/>
<meta property="og:url" content="./kubernetes-basics.html" />
<meta property="og:description" content="Basic commands and tools in kubernetes" />
<meta property="og:site_name" content="Coding Digests" />
<meta property="og:article:author" content="Harry Zheng" />
<meta property="og:article:published_time" content="2019-02-21T00:00:00-07:00" />
<meta property="og:article:modified_time" content="2019-02-21T00:00:00-07:00" />
<meta name="twitter:title" content="Kubernetes Basics ">
<meta name="twitter:description" content="Basic commands and tools in kubernetes">

        <title>Kubernetes Basics  · Coding Digests
</title>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-137819228-1', 'auto');
    ga('send', 'pageview');
</script>



        <style>
            body {
                padding-top: 60px;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="./"><span class=site-name>Coding Digests</span></a>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right top-menu">
                                <li >
                                    <a href=
                                       .
                                    >Home</a>
                                </li>
                                <li ><a href="./pages/contact.html">Contact</a></li>
                                <li ><a href="./categories.html">Categories</a></li>
                                <li ><a href="./tags.html">Tags</a></li>
                                <li ><a href="./archives.html">Archives</a></li>
                                <li><form class="navbar-search" action="./search.html" onsubmit="return validateForm(this.elements['q'].value);"> <input type="text" class="search-query" placeholder="Search" name="q" id="tipue_search_input"></form></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span10">
<article itemscope>
<div class="row-fluid">
    <header class="page-header span10 offset2">
        <h1>
            <a href="./kubernetes-basics.html">
                Kubernetes Basics
            </a>
        </h1>
    </header>
</div>

<div class="row-fluid">
        <div class="span8 offset2 article-content">
            
            <p>This article covers some basic commands and instructions to deploy a kubernetes app. Some notes and images are taken from <code>https://kubernetes.io/docs/tutorials</code>. </p>
<h2 id="basic-concept">Basic concept</h2>
<h3 id="nodes">Nodes</h3>
<p>A kubernetes <strong>cluster</strong> is consist of <strong>Nodes</strong>. A node can be a VM or a physical machine. </p>
<p><img alt="Pelican" src="../images/module_02_cluster.svg"></p>
<p>To check current nodes issue this command:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get nodes
NAME                 STATUS    ROLES     AGE       VERSION
docker-for-desktop   Ready     master    30m       v1.10.11
</code></pre></div>


<p>Each cluster should have one master node with a 0 or a few slave nodes.</p>
<h3 id="pods">Pods</h3>
<p>A node is consists of one or more <strong>Pods</strong>.  </p>
<p><img alt="Pelican" src="../images/module_03_nodes.svg"></p>
<p>To get list of running pods, issue this command:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get pods
NAME                                   READY     STATUS    RESTARTS   AGE
kubernetes-bootcamp-5c69669756-rmxrn   <span class="m">1</span>/1       Running   <span class="m">0</span>          45m
</code></pre></div>


<p>A Pod is a Kubernetes abstraction that represents a group of one or more application containers (such as Docker or rkt), and some shared resources for those containers. Those resources include:</p>
<ul>
<li>Shared storage, as Volumes</li>
<li>Networking, as a unique cluster IP address</li>
<li>Information about how to run each container, such as the container image version or specific ports to use</li>
</ul>
<p><img alt="Pelican" src="../images/module_03_pods.svg"></p>
<h3 id="services">Services</h3>
<p>A Service in Kubernetes is an abstraction which defines a logical set of Pods and a policy by which to access them. Services enable a loose coupling between dependent Pods. A Service is defined using YAML (preferred) or JSON, like all Kubernetes objects. </p>
<p><img alt="Pelican" src="../images/module_04_services.svg"></p>
<p>A Service routes traffic across a set of Pods. Services are the abstraction that allow pods to die and replicate in Kubernetes without impacting your application. Discovery and routing among dependent Pods (such as the frontend and backend components in an application) is handled by Kubernetes Services.</p>
<p>Services match a set of Pods using labels and selectors, a grouping primitive that allows logical operation on objects in Kubernetes. Labels are key/value pairs attached to objects and can be used in any number of ways:</p>
<ul>
<li>Designate objects for development, test, and production</li>
<li>Embed version tags</li>
<li>Classify an object using tags</li>
</ul>
<p><img alt="Pelican" src="../images/module_04_labels.svg"></p>
<h3 id="networking">Networking</h3>
<p>Pods running in side Kubernetes are running on a prviate, isolated network. By default, they are visible from other pods and services within the same cluster, but not outside. To quickly open on communication to outside world, <code>kubectl</code> can create a proxy to foward communications, </p>
<p><code>kubectl proxy</code> will create a proxy at <code>http://localhost:8001/version</code>. The API server will automatically create an endpoint for each pod, based on the pod name, that is also accessible through the proxy.</p>
<p>To access each individual pod, we need to get pod name. 
<code>export POD_NAME=$(kubectl get pods -o go-template --template '{{range .items}}{{.metadata.name}}{{"\n"}}{{end}}')</code>. 
Then we can make a HTTP request to the application in that pod. <code>curl http://localhost:8001/api/v1/namespaces/default/pods/$POD_NAME/proxy/</code></p>
<h2 id="tutorial">Tutorial</h2>
<h3 id="make-an-deployment">Make an deployment</h3>
<p>Run this commmand to make a new deployment. 
<code>kubectl run kubernetes-bootcamp --image=gcr.io/google-samples/kubernetes-bootcamp:v1 --port=8080</code></p>
<p>Get the name of running pod, <code>export POD_NAME=$(kubectl get pods -o go-template --template '{{range .items}}{{.metadata.name}}{{"\n"}}{{end}}')</code>. </p>
<h3 id="check-application-configuration">Check application configuration</h3>
<p>Let’s verify that the application we deployed in the previous scenario is running. We’ll use the kubectl get command and look for existing Pods:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get pods
NAME                                   READY     STATUS    RESTARTS   AGE
kubernetes-bootcamp-5c69669756-rmxrn   <span class="m">1</span>/1       Running   <span class="m">0</span>          1h
</code></pre></div>


<p>Next, to view what containers are inside that Pod and what images are used to build those containers we run the describe pods command:
<code>kubectl describe pods</code>.</p>
<h3 id="view-container-logs">View container logs</h3>
<p>Anything that the application would normally send to STDOUT becomes logs for the container within the Pod. We can retrieve these logs using the kubectl logs command:
<code>kubectl logs $POD_NAME</code></p>
<p>Note: We don’t need to specify the container name, because we only have one container inside the pod.</p>
<h3 id="executing-command-on-the-container">Executing command on the container</h3>
<p>We can execute commands directly on the container once the Pod is up and running. For this, we use the exec command and use the name of the Pod as a parameter. Let’s list the environment variables: </p>
<div class="highlight"><pre><span></span><code>$ kubectl <span class="nb">exec</span> <span class="nv">$POD_NAME</span> env
<span class="nv">PATH</span><span class="o">=</span>/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
<span class="nv">HOSTNAME</span><span class="o">=</span>kubernetes-bootcamp-5c69669756-rmxrn
<span class="nv">KUBERNETES_PORT</span><span class="o">=</span>tcp://10.96.0.1:443
<span class="nv">KUBERNETES_PORT_443_TCP</span><span class="o">=</span>tcp://10.96.0.1:443
<span class="nv">KUBERNETES_PORT_443_TCP_PROTO</span><span class="o">=</span>tcp
<span class="nv">KUBERNETES_PORT_443_TCP_PORT</span><span class="o">=</span><span class="m">443</span>
<span class="nv">KUBERNETES_PORT_443_TCP_ADDR</span><span class="o">=</span><span class="m">10</span>.96.0.1
<span class="nv">KUBERNETES_SERVICE_HOST</span><span class="o">=</span><span class="m">10</span>.96.0.1
<span class="nv">KUBERNETES_SERVICE_PORT</span><span class="o">=</span><span class="m">443</span>
<span class="nv">KUBERNETES_SERVICE_PORT_HTTPS</span><span class="o">=</span><span class="m">443</span>
<span class="nv">NPM_CONFIG_LOGLEVEL</span><span class="o">=</span>info
<span class="nv">NODE_VERSION</span><span class="o">=</span><span class="m">6</span>.3.1
<span class="nv">HOME</span><span class="o">=</span>/root
</code></pre></div>


<p>Again, worth mentioning that the name of the container itself can be omitted since we only have a single container in the Pod.</p>
<p>Next let’s start a bash session in the Pod’s container: <code>kubectl exec -ti $POD_NAME bash</code>.  We have now an open console on the container. To close the console, use <code>exit</code>. </p>
<h3 id="create-a-new-service">Create a new service</h3>
<p>To list current services in the cluster: </p>
<div class="highlight"><pre><span></span><code>$ kubectl get services
NAME         TYPE        CLUSTER-IP   EXTERNAL-IP   PORT<span class="o">(</span>S<span class="o">)</span>   AGE
kubernetes   ClusterIP   <span class="m">10</span>.96.0.1    &lt;none&gt;        <span class="m">443</span>/TCP   1h
</code></pre></div>


<p>Cluter services is created by default. </p>
<p>To create a new service using running pods: <code>kubectl expose deployment/kubernetes-bootcamp --type="NodePort" --port 8080</code></p>
<p>List services again:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get services
NAME                  TYPE        CLUSTER-IP      EXTERNAL-IP   PORT<span class="o">(</span>S<span class="o">)</span>          AGE
kubernetes            ClusterIP   <span class="m">10</span>.96.0.1       &lt;none&gt;        <span class="m">443</span>/TCP          1h
kubernetes-bootcamp   NodePort    <span class="m">10</span>.104.156.85   &lt;none&gt;        <span class="m">8080</span>:30527/TCP   2s
</code></pre></div>


<p>Notice that the new service <code>kubernetes-bootcamp</code> has a unique cluster-IP <code>10.104.156.85</code>, an internal port <code>30527</code> and an external port <code>8080</code>. </p>
<p>Try access the end point with <code>curl 10.104.156.85:8080</code>. </p>
<h3 id="using-labels">Using labels</h3>
<p>The Deployment created automatically a label for our Pod. With describe deployment command you can see the name of the label: <code>kubectl describe deployment</code>. </p>
<p>This label can be used to query list of Pods:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get pods -l <span class="nv">run</span><span class="o">=</span>kubernetes-bootcamp
NAME                                   READY     STATUS    RESTARTS   AGE
kubernetes-bootcamp-5c69669756-rmxrn   <span class="m">1</span>/1       Running   <span class="m">0</span>          1h
</code></pre></div>


<p>The same can be used on services:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get services -l <span class="nv">run</span><span class="o">=</span>kubernetes-bootcamp
NAME                  TYPE       CLUSTER-IP      EXTERNAL-IP   PORT<span class="o">(</span>S<span class="o">)</span>          AGE
kubernetes-bootcamp   NodePort   <span class="m">10</span>.104.156.85   &lt;none&gt;        <span class="m">8080</span>:30527/TCP   24m
</code></pre></div>


<p>Get name of the pod: <code>export POD_NAME=$(kubectl get pods -o go-template --template '{{range .items}}{{.metadata.name}}{{"\n"}}{{end}}')</code></p>
<p>Apply a new label to this pod: <code>kubectl label pod $POD_NAME app=v1</code></p>
<p>And check the pod description: </p>
<div class="highlight"><pre><span></span><code><span class="err">$</span> <span class="n">kubectl</span> <span class="n">describe</span> <span class="n">pods</span> <span class="err">$</span><span class="n">POD_NAME</span><span class="err">`</span>
<span class="n">Name</span><span class="p">:</span>           <span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span><span class="o">-</span><span class="mi">5</span><span class="n">c69669756</span><span class="o">-</span><span class="n">rmxrn</span>
<span class="n">Namespace</span><span class="p">:</span>      <span class="k">default</span>
<span class="n">Node</span><span class="p">:</span>           <span class="n">docker</span><span class="o">-</span><span class="k">for</span><span class="o">-</span><span class="n">desktop</span><span class="o">/</span><span class="mf">192.168</span><span class="p">.</span><span class="mf">65.3</span>
<span class="n">Start</span> <span class="n">Time</span><span class="p">:</span>     <span class="n">Thu</span><span class="p">,</span> <span class="mi">21</span> <span class="n">Feb</span> <span class="mi">2019</span> <span class="mi">14</span><span class="p">:</span><span class="mi">51</span><span class="p">:</span><span class="mi">05</span> <span class="o">-</span><span class="mi">0700</span>
<span class="n">Labels</span><span class="p">:</span>         <span class="n">app</span><span class="o">=</span><span class="n">v1</span>
                <span class="n">pod</span><span class="o">-</span><span class="n">template</span><span class="o">-</span><span class="n">hash</span><span class="o">=</span><span class="mi">1725225312</span>
                <span class="n">run</span><span class="o">=</span><span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span>
<span class="p">...</span>
</code></pre></div>


<p>This label can be used to query pods:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get pods -l <span class="nv">app</span><span class="o">=</span>v1
NAME                                   READY     STATUS    RESTARTS   AGE
kubernetes-bootcamp-5c69669756-rmxrn   <span class="m">1</span>/1       Running   <span class="m">0</span>          1h
</code></pre></div>


<h3 id="delete-a-service">Delete a service</h3>
<p>To delete a service, use this command <code>kubectl delete service -l run=kubernetes-bootcamp</code></p>
<p>Confirm the service is gone:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get services
NAME         TYPE        CLUSTER-IP   EXTERNAL-IP   PORT<span class="o">(</span>S<span class="o">)</span>   AGE
kubernetes   ClusterIP   <span class="m">10</span>.96.0.1    &lt;none&gt;        <span class="m">443</span>/TCP   2h
</code></pre></div>


<p>But the pod should still be running:</p>
<div class="highlight"><pre><span></span><code>$ kubectl <span class="nb">exec</span> -ti <span class="nv">$POD_NAME</span> curl localhost:8080
Hello Kubernetes bootcamp! <span class="p">|</span> Running on: kubernetes-bootcamp-5c69669756-rmxrn <span class="p">|</span> <span class="nv">v</span><span class="o">=</span><span class="m">1</span>
</code></pre></div>


<h3 id="scaling-a-service">Scaling a service</h3>
<p>Scaling is achieved through number of replica in a deployment. Kubernetes also support auto scaling but it's not covered in this part of the tutorial. </p>
<p>Running multiple instances of an application will require a way to distribute the traffic to all of them. Services have an integrated load-balancer that will distribute network traffic to all Pods of an exposed Deployment. Services will monitor continuously the running Pods using endpoints, to ensure the traffic is sent only to available Pods.</p>
<p>Once you have multiple instances of an Application running, you would be able to do Rolling updates without downtime. </p>
<p><img alt="Pelican" src="../images/module_05_scaling1.svg"></p>
<p><img alt="Pelican" src="../images/module_05_scaling2.svg"></p>
<p>To scale an existing service, use the following commands. </p>
<p>List running deployments: </p>
<div class="highlight"><pre><span></span><code>$ kubectl get deployments
NAME                  READY   UP-TO-DATE   AVAILABLE   AGE
kubernetes-bootcamp   <span class="m">1</span>/1     <span class="m">1</span>            <span class="m">1</span>           37s
</code></pre></div>


<ul>
<li>The DESIRED state is showing the configured number of replicas.</li>
<li>The CURRENT state show how many replicas are running now.</li>
<li>The UP-TO-DATE is the number of replicas that were updated to match the desired (configured) state.</li>
</ul>
<p>To scale the deployments to replica of 4:</p>
<div class="highlight"><pre><span></span><code>$ kubectl scale deployments/kubernetes-bootcamp --replicas<span class="o">=</span><span class="m">4</span>
deployment.apps/kubernetes-bootcamp scaled
$ kubectl get deployments
NAME                  READY   UP-TO-DATE   AVAILABLE   AGE
kubernetes-bootcamp   <span class="m">4</span>/4     <span class="m">4</span>            <span class="m">4</span>           100s
</code></pre></div>


<p>We can see the available instances and ready instances are now four. </p>
<p>Check if number of pods changed:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get pods -o wide
NAME                                   READY   STATUS    RESTARTS   AGE   IP           NODE       NOMINATED NODE   READINESS GATES
kubernetes-bootcamp-6bf84cb898-4jx92   <span class="m">1</span>/1     Running   <span class="m">0</span>          8s    <span class="m">172</span>.18.0.7   minikube   &lt;none&gt;           &lt;none&gt;
kubernetes-bootcamp-6bf84cb898-mm2g5   <span class="m">1</span>/1     Running   <span class="m">0</span>          8s    <span class="m">172</span>.18.0.5   minikube   &lt;none&gt;           &lt;none&gt;
kubernetes-bootcamp-6bf84cb898-rsml8   <span class="m">1</span>/1     Running   <span class="m">0</span>          8s    <span class="m">172</span>.18.0.3   minikube   &lt;none&gt;           &lt;none&gt;
kubernetes-bootcamp-6bf84cb898-wfvkt   <span class="m">1</span>/1     Running   <span class="m">0</span>          8s    <span class="m">172</span>.18.0.6   minikube   &lt;none&gt;           &lt;none&gt;
</code></pre></div>


<p>There are 4 pods with different IP now. </p>
<p>The changes should also register with deployments. </p>
<div class="highlight"><pre><span></span><code><span class="err">$</span> <span class="n">kubectl</span> <span class="n">describe</span> <span class="n">deployments</span><span class="o">/</span><span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span>
<span class="n">Name</span><span class="p">:</span>                   <span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span>
<span class="n">Namespace</span><span class="p">:</span>              <span class="k">default</span>
<span class="n">CreationTimestamp</span><span class="p">:</span>      <span class="n">Sat</span><span class="p">,</span> <span class="mi">23</span> <span class="n">Feb</span> <span class="mi">2019</span> <span class="mi">17</span><span class="p">:</span><span class="mi">38</span><span class="p">:</span><span class="mi">57</span> <span class="o">+</span><span class="mi">0000</span>
<span class="n">Labels</span><span class="p">:</span>                 <span class="n">run</span><span class="o">=</span><span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span>
<span class="n">Annotations</span><span class="p">:</span>            <span class="n">deployment</span><span class="p">.</span><span class="n">kubernetes</span><span class="p">.</span><span class="n">io</span><span class="o">/</span><span class="n">revision</span><span class="p">:</span> <span class="mi">1</span>
<span class="n">Selector</span><span class="p">:</span>               <span class="n">run</span><span class="o">=</span><span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span>
<span class="n">Replicas</span><span class="p">:</span>               <span class="mi">4</span> <span class="n">desired</span> <span class="err">|</span> <span class="mi">4</span> <span class="n">updated</span> <span class="err">|</span> <span class="mi">4</span> <span class="n">total</span> <span class="err">|</span> <span class="mi">4</span> <span class="n">available</span> <span class="err">|</span> <span class="mi">0</span> <span class="n">unavailable</span>
<span class="n">StrategyType</span><span class="p">:</span>           <span class="n">RollingUpdate</span>
<span class="n">MinReadySeconds</span><span class="p">:</span>        <span class="mi">0</span>
<span class="n">RollingUpdateStrategy</span><span class="p">:</span>  <span class="mi">25</span><span class="err">%</span> <span class="n">max</span> <span class="n">unavailable</span><span class="p">,</span> <span class="mi">25</span><span class="err">%</span> <span class="n">max</span> <span class="n">surge</span>
<span class="n">Pod</span> <span class="n">Template</span><span class="p">:</span>
  <span class="n">Labels</span><span class="p">:</span>  <span class="n">run</span><span class="o">=</span><span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span>
  <span class="n">Containers</span><span class="p">:</span>
   <span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span><span class="p">:</span>
    <span class="n">Image</span><span class="p">:</span>        <span class="n">gcr</span><span class="p">.</span><span class="n">io</span><span class="o">/</span><span class="n">google</span><span class="o">-</span><span class="n">samples</span><span class="o">/</span><span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span><span class="p">:</span><span class="n">v1</span>
    <span class="n">Port</span><span class="p">:</span>         <span class="mi">8080</span><span class="o">/</span><span class="n">TCP</span>
    <span class="n">Host</span> <span class="n">Port</span><span class="p">:</span>    <span class="mi">0</span><span class="o">/</span><span class="n">TCP</span>
    <span class="n">Environment</span><span class="p">:</span>  <span class="o">&lt;</span><span class="n">none</span><span class="o">&gt;</span>
    <span class="n">Mounts</span><span class="p">:</span>       <span class="o">&lt;</span><span class="n">none</span><span class="o">&gt;</span>
  <span class="n">Volumes</span><span class="p">:</span>        <span class="o">&lt;</span><span class="n">none</span><span class="o">&gt;</span>
<span class="n">Conditions</span><span class="p">:</span>
  <span class="n">Type</span>           <span class="n">Status</span>  <span class="n">Reason</span>
  <span class="o">----</span>           <span class="o">------</span>  <span class="o">------</span>
  <span class="n">Available</span>      <span class="k">True</span>    <span class="n">MinimumReplicasAvailable</span>
  <span class="n">Progressing</span>    <span class="k">True</span>    <span class="n">NewReplicaSetAvailable</span>
<span class="n">OldReplicaSets</span><span class="p">:</span>  <span class="o">&lt;</span><span class="n">none</span><span class="o">&gt;</span>
<span class="n">NewReplicaSet</span><span class="p">:</span>   <span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span><span class="o">-</span><span class="mi">6</span><span class="n">bf84cb898</span> <span class="p">(</span><span class="mi">4</span><span class="o">/</span><span class="mi">4</span> <span class="n">replicas</span> <span class="n">created</span><span class="p">)</span>
<span class="n">Events</span><span class="p">:</span>
  <span class="n">Type</span>    <span class="n">Reason</span>             <span class="n">Age</span>   <span class="n">From</span>                   <span class="n">Message</span>
  <span class="o">----</span>    <span class="o">------</span>             <span class="o">----</span>  <span class="o">----</span>                   <span class="o">-------</span>
  <span class="n">Normal</span>  <span class="n">ScalingReplicaSet</span>  <span class="mi">73s</span>   <span class="n">deployment</span><span class="o">-</span><span class="n">controller</span>  <span class="n">Scaled</span> <span class="n">up</span> <span class="n">replicaset</span> <span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span><span class="o">-</span><span class="mi">6</span><span class="n">bf84cb898</span> <span class="k">to</span> <span class="mi">4</span>
</code></pre></div>


<h3 id="load-balancing">Load balancing</h3>
<p>With replica enabled, load balancing should also automatically enable for this service. </p>
<div class="highlight"><pre><span></span><code><span class="err">$</span> <span class="n">kubectl</span> <span class="n">describe</span> <span class="n">services</span><span class="o">/</span><span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span>
<span class="n">Name</span><span class="p">:</span>                     <span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span>
<span class="n">Namespace</span><span class="p">:</span>                <span class="k">default</span>
<span class="n">Labels</span><span class="p">:</span>                   <span class="n">run</span><span class="o">=</span><span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span>
<span class="n">Annotations</span><span class="p">:</span>              <span class="o">&lt;</span><span class="n">none</span><span class="o">&gt;</span>
<span class="n">Selector</span><span class="p">:</span>                 <span class="n">run</span><span class="o">=</span><span class="n">kubernetes</span><span class="o">-</span><span class="n">bootcamp</span>
<span class="n">Type</span><span class="p">:</span>                     <span class="n">NodePort</span>
<span class="n">IP</span><span class="p">:</span>                       <span class="mf">10.97</span><span class="p">.</span><span class="mf">18.242</span>
<span class="n">Port</span><span class="p">:</span>                     <span class="o">&lt;</span><span class="n">unset</span><span class="o">&gt;</span>  <span class="mi">8080</span><span class="o">/</span><span class="n">TCP</span>
<span class="n">TargetPort</span><span class="p">:</span>               <span class="mi">8080</span><span class="o">/</span><span class="n">TCP</span>
<span class="n">NodePort</span><span class="p">:</span>                 <span class="o">&lt;</span><span class="n">unset</span><span class="o">&gt;</span>  <span class="mi">32111</span><span class="o">/</span><span class="n">TCP</span>
<span class="n">Endpoints</span><span class="p">:</span>                <span class="mf">172.18</span><span class="p">.</span><span class="mf">0.3</span><span class="p">:</span><span class="mi">8080</span><span class="p">,</span><span class="mf">172.18</span><span class="p">.</span><span class="mf">0.5</span><span class="p">:</span><span class="mi">8080</span><span class="p">,</span><span class="mf">172.18</span><span class="p">.</span><span class="mf">0.6</span><span class="p">:</span><span class="mi">8080</span> <span class="o">+</span><span class="mi">1</span> <span class="n">more</span><span class="p">...</span>
<span class="n">Session</span> <span class="n">Affinity</span><span class="p">:</span>         <span class="n">None</span>
<span class="n">External</span> <span class="n">Traffic</span> <span class="n">Policy</span><span class="p">:</span>  <span class="n">Cluster</span>
<span class="n">Events</span><span class="p">:</span>                   <span class="o">&lt;</span><span class="n">none</span><span class="o">&gt;</span>
</code></pre></div>


<p>There are 4 endpoints on this services, each one is one our the replica. To verify the load balancing is working. Let's make request to this service and each time we should be hitting different pods. </p>
<div class="highlight"><pre><span></span><code>$ <span class="nb">export</span> <span class="nv">NODE_PORT</span><span class="o">=</span><span class="k">$(</span>kubectl get services/kubernetes-bootcamp -o go-template<span class="o">=</span><span class="s1">&#39;{{(index .spec.ports 0).nodePort}}&#39;</span><span class="k">)</span>
$ <span class="nb">echo</span> <span class="nv">NODE_PORT</span><span class="o">=</span><span class="nv">$NODE_PORT</span>
<span class="nv">NODE_PORT</span><span class="o">=</span><span class="m">32111</span>
$ curl <span class="k">$(</span>minikube ip<span class="k">)</span>:<span class="nv">$NODE_PORT</span>
Hello Kubernetes bootcamp! <span class="p">|</span> Running on: kubernetes-bootcamp-6bf84cb898-rsml8 <span class="p">|</span> <span class="nv">v</span><span class="o">=</span><span class="m">1</span>
$ curl <span class="k">$(</span>minikube ip<span class="k">)</span>:<span class="nv">$NODE_PORT</span>
Hello Kubernetes bootcamp! <span class="p">|</span> Running on: kubernetes-bootcamp-6bf84cb898-4jx92 <span class="p">|</span> <span class="nv">v</span><span class="o">=</span><span class="m">1</span>
$ curl <span class="k">$(</span>minikube ip<span class="k">)</span>:<span class="nv">$NODE_PORT</span>
Hello Kubernetes bootcamp! <span class="p">|</span> Running on: kubernetes-bootcamp-6bf84cb898-wfvkt <span class="p">|</span> <span class="nv">v</span><span class="o">=</span><span class="m">1</span>
</code></pre></div>


<p>As we can see in the <code>curl</code> printout. Each time we hit a different pod. </p>
<h3 id="scale-down">Scale down</h3>
<p>To scale down the service, issue the same scale command but with a smaller replica number. </p>
<div class="highlight"><pre><span></span><code>$ kubectl scale deployments/kubernetes-bootcamp --replicas<span class="o">=</span><span class="m">2</span>
deployment.extensions/kubernetes-bootcamp scaled
$ kubectl get deployments
NAME                  READY   UP-TO-DATE   AVAILABLE   AGE
kubernetes-bootcamp   <span class="m">2</span>/2     <span class="m">2</span>            <span class="m">2</span>           6m26s
$ kubectl get pods -o wide
NAME                                   READY   STATUS        RESTARTS   AGE    IP           NODE       NOMINATED NODE   READINESS GATES
kubernetes-bootcamp-6bf84cb898-4jx92   <span class="m">1</span>/1     Terminating   <span class="m">0</span>          6m18s   <span class="m">172</span>.18.0.7   minikube   &lt;none&gt;           &lt;none&gt;
kubernetes-bootcamp-6bf84cb898-mm2g5   <span class="m">1</span>/1     Running       <span class="m">0</span>          6m18s   <span class="m">172</span>.18.0.5   minikube   &lt;none&gt;           &lt;none&gt;
kubernetes-bootcamp-6bf84cb898-rsml8   <span class="m">1</span>/1     Running       <span class="m">0</span>          6m18s   <span class="m">172</span>.18.0.3   minikube   &lt;none&gt;           &lt;none&gt;
kubernetes-bootcamp-6bf84cb898-wfvkt   <span class="m">1</span>/1     Terminating   <span class="m">0</span>          6m18s   <span class="m">172</span>.18.0.6   minikube   &lt;none&gt;           &lt;none&gt;
</code></pre></div>


<p>This confirms that 2 pods are terminating. </p>
<h3 id="rolling-updates">Rolling updates</h3>
<p><strong>Rolling updates</strong> allow Deployments' update to take place with zero downtime by incrementally updating Pods instances with new ones. The new Pods will be scheduled on Nodes with available resources.</p>
<p>By default, the maximum number of Pods that can be unavailable during the update and the maximum number of new Pods that can be created, is one. Both options can be configured to either numbers or percentages (of Pods). In Kubernetes, updates are versioned and any Deployments update can be rolled back to previous (stable) version. </p>
<p>Similar to application Scaling, if a Deployment is exposed publicly, the Service will load-balance the traffic only to available Pods during the update. An available Pod is an instance that is available to the users of the application.</p>
<p><img alt="Pelican" src="../images/module_06_rollingupdates1.svg">
<img alt="Pelican" src="../images/module_06_rollingupdates2.svg">
<img alt="Pelican" src="../images/module_06_rollingupdates3.svg">
<img alt="Pelican" src="../images/module_06_rollingupdates4.svg"></p>
<p>Rolling updates allow the following actions:</p>
<ul>
<li>Promote an application from one environment to another (via container image updates)</li>
<li>Rollback to previous versions</li>
<li>Continuous Integration and Continuous Delivery of applications with zero downtime</li>
</ul>
<p>To roll out an update, follow these steps:</p>
<p>List running deployments:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get deployments
NAME                  READY   UP-TO-DATE   AVAILABLE   AGE
kubernetes-bootcamp   <span class="m">4</span>/4     <span class="m">4</span>            <span class="m">4</span>           24s
</code></pre></div>


<p>List running pods:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get pods
NAME                                   READY   STATUS    RESTARTS   AGE
kubernetes-bootcamp-6bf84cb898-dg8zx   <span class="m">1</span>/1     Running   <span class="m">0</span>          25s
kubernetes-bootcamp-6bf84cb898-fzb22   <span class="m">1</span>/1     Running   <span class="m">0</span>          25s
kubernetes-bootcamp-6bf84cb898-mfq7l   <span class="m">1</span>/1     Running   <span class="m">0</span>          25s
kubernetes-bootcamp-6bf84cb898-r8snq   <span class="m">1</span>/1     Running   <span class="m">0</span>          25s
</code></pre></div>


<p>To update the image of the application to version 2, use the <code>set image</code> command, followed by the deployment name and the new image version:</p>
<div class="highlight"><pre><span></span><code>$ kubectl <span class="nb">set</span> image deployments/kubernetes-bootcamp kubernetes-bootcamp<span class="o">=</span>jocatalin/kubernetes-bootcamp:v2
deployment.apps/kubernetes-bootcamp image updated
</code></pre></div>


<p>The command notified the Deployment to use a different image for your app and initiated a rolling update. Check the status of the new Pods, and view the old one terminating with the <code>get pods</code> command:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get pods
NAME                                   READY   STATUS        RESTARTS   AGE
kubernetes-bootcamp-5bf4d5689b-4xkmn   <span class="m">1</span>/1     Running       <span class="m">0</span>          10s
kubernetes-bootcamp-5bf4d5689b-hv6qr   <span class="m">1</span>/1     Running       <span class="m">0</span>          10s
kubernetes-bootcamp-5bf4d5689b-jm57j   <span class="m">1</span>/1     Running       <span class="m">0</span>          13s
kubernetes-bootcamp-5bf4d5689b-qvgkz   <span class="m">1</span>/1     Running       <span class="m">0</span>          13s
kubernetes-bootcamp-6bf84cb898-dg8zx   <span class="m">1</span>/1     Terminating   <span class="m">0</span>          83s
kubernetes-bootcamp-6bf84cb898-fzb22   <span class="m">1</span>/1     Terminating   <span class="m">0</span>          83s
kubernetes-bootcamp-6bf84cb898-mfq7l   <span class="m">1</span>/1     Terminating   <span class="m">0</span>          83s
kubernetes-bootcamp-6bf84cb898-r8snq   <span class="m">1</span>/1     Terminating   <span class="m">0</span>          83s
$ kubectl get pods
NAME                                   READY   STATUS    RESTARTS   AGE
kubernetes-bootcamp-5bf4d5689b-4xkmn   <span class="m">1</span>/1     Running   <span class="m">0</span>          43s
kubernetes-bootcamp-5bf4d5689b-hv6qr   <span class="m">1</span>/1     Running   <span class="m">0</span>          43s
kubernetes-bootcamp-5bf4d5689b-jm57j   <span class="m">1</span>/1     Running   <span class="m">0</span>          46s
kubernetes-bootcamp-5bf4d5689b-qvgkz   <span class="m">1</span>/1     Running   <span class="m">0</span>          46s
</code></pre></div>


<p>Old instances are replaced with updated instances eventually. </p>
<p>The update can be confirmed also by running a rollout status command:</p>
<div class="highlight"><pre><span></span><code>$ kubectl rollout status deployments/kubernetes-bootcamp
deployment <span class="s2">&quot;kubernetes-bootcamp&quot;</span> successfully rolled out
</code></pre></div>


<p>To view the current image version of the app, run a describe command against the Pods:</p>
<div class="highlight"><pre><span></span><code><span class="err">kubectl describe pods</span>
</code></pre></div>


<p>To roll back an update, let's deploy an update with problems:</p>
<div class="highlight"><pre><span></span><code><span class="err">kubectl set image deployments/kubernetes-bootcamp kubernetes-bootcamp=gcr.io/google-samples/kubernetes-bootcamp:v10</span>
</code></pre></div>


<p>And check status:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get deployments
NAME                  READY   UP-TO-DATE   AVAILABLE   AGE
kubernetes-bootcamp   <span class="m">3</span>/4     <span class="m">2</span>            <span class="m">3</span>           5m29s
$ kubectl get pods
NAME                                   READY   STATUS             RESTARTS AGE
kubernetes-bootcamp-597cfc5b76-cxccd   <span class="m">0</span>/1     ImagePullBackOff   <span class="m">0</span> 69s
kubernetes-bootcamp-597cfc5b76-h6r48   <span class="m">0</span>/1     ErrImagePull       <span class="m">0</span> 69s
kubernetes-bootcamp-5bf4d5689b-4xkmn   <span class="m">1</span>/1     Running            <span class="m">0</span> 4m9s
kubernetes-bootcamp-5bf4d5689b-jm57j   <span class="m">1</span>/1     Running            <span class="m">0</span> 4m12s
kubernetes-bootcamp-5bf4d5689b-qvgkz   <span class="m">1</span>/1     Running            <span class="m">0</span> 4m12s
</code></pre></div>


<p>Something is wrong with the updated images. </p>
<p>To get more insights, use the <code>describe</code> command:</p>
<div class="highlight"><pre><span></span><code><span class="err">kubectl describe pods</span>
</code></pre></div>


<p>To roll back the update, issue this command:</p>
<div class="highlight"><pre><span></span><code>$ kubectl rollout undo deployments/kubernetes-bootcamp
deployment.apps/kubernetes-bootcamp rolled back
</code></pre></div>


<p>And we are back to old state:</p>
<div class="highlight"><pre><span></span><code>$ kubectl get pods
NAME                                   READY   STATUS    RESTARTS   AGE
kubernetes-bootcamp-5bf4d5689b-4xkmn   <span class="m">1</span>/1     Running   <span class="m">0</span>          5m41s
kubernetes-bootcamp-5bf4d5689b-j6kp4   <span class="m">1</span>/1     Running   <span class="m">0</span>          21s
kubernetes-bootcamp-5bf4d5689b-jm57j   <span class="m">1</span>/1     Running   <span class="m">0</span>          5m44s
kubernetes-bootcamp-5bf4d5689b-qvgkz   <span class="m">1</span>/1     Running   <span class="m">0</span>          5m44s
</code></pre></div>


<h2 id="kubernetes-commands">Kubernetes Commands</h2>
<ul>
<li>check current version: <code>kubectl version</code></li>
<li>get cluster info: <code>kubectl cluster-info</code></li>
<li>list nodes: <code>kubectl get nodes</code></li>
<li>list pods: <code>kubectl get pods</code></li>
<li>describe pods: <code>kubectl describe pods</code></li>
<li>run a deployment: <code>kubectl run kubernetes-bootcamp --image=gcr.io/google-samples/kubernetes-bootcamp:v1 --port=8080</code></li>
<li>list deployments: <code>kubectl get deployments</code></li>
</ul>


             
 
                <p id="post-share-links">
    Share on:
      <a href="https://twitter.com/intent/tweet?text=Kubernetes%20Basics&url=https%3A//hazelement.github.io/kubernetes-basics.html&hashtags=kubernetes" target="_blank" rel="nofollow noopener noreferrer" title="Share on Twitter">Twitter</a>
 ❄       <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//hazelement.github.io/kubernetes-basics.html" target="_blank" rel="nofollow noopener noreferrer" title="Share on Facebook">Facebook</a>
 ❄       <a href="mailto:?subject=Kubernetes%20Basics&amp;body=https%3A//hazelement.github.io/kubernetes-basics.html" target="_blank" rel="nofollow noopener noreferrer" title="Share via Email">Email</a>

            
            







<section>
    <h6 style="display:none;">Comments</h6>
    <p id="comment-message"> </p>

    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle disqus-comment-count comment-count collapsed"
                   data-toggle="collapse"
                   data-parent="#accordion2"
                   data-disqus-identifier="./kubernetes-basics.html"
                   href="./kubernetes-basics.html#comment_thread"
                   id="comment-accordion-toggle">
                    Comments
                </a>
            </div>
            <div id="comment_thread" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="comments">
                        <div id="disqus_thread"></div>
                        <script>
    var disqus_shortname = 'https-hazelement-github-io';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

    var disqus_identifier = './kubernetes-basics.html';
    var disqus_url = './kubernetes-basics.html';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            <hr/>
<section>
    <h2>Related Posts</h2>
<ul class="related-posts-list">
<li><a href="./kubernetes-workflow.html" title="Kubernetes Workflow">Kubernetes Workflow</a></li>
<li><a href="./kubernetes-stateless-application.html" title="Kubernetes Stateless Application">Kubernetes Stateless Application</a></li>
<li><a href="./kubernetes-stateful-application.html" title="Kubernetes Stateful Application">Kubernetes Stateful Application</a></li>
<li><a href="./kubernetes-persistent-volume.html" title="Kubernetes Persistent Volume">Kubernetes Persistent Volume</a></li>
</ul>
<hr />
</section>
            <aside>
            <nav>
            <ul class="articles-timeline">
                <li class="previous-article">« <a href="./non-transparent-proxy-with-squid-and-docker.html" title="Previous: Non-transparent proxy with Squid and Docker">Non-transparent proxy with Squid and Docker</a></li>
                <li class="next-article"><a href="./kubernetes-workflow.html" title="Next: Kubernetes Workflow">Kubernetes Workflow</a> »</li>
            </ul>
            </nav>
            </aside>
        </div>
        <section id="article-sidebar" class="span2">
            <h4>Published</h4>
            <time itemprop="dateCreated" datetime="2019-02-21T00:00:00-07:00">Thu 21 February 2019</time>

            <h4>Category</h4>
            <a class="category-link" href="./categories.html#kubernetes-ref">Kubernetes</a>
            <h4>Tags</h4>
            <ul class="list-of-tags tags-in-article">
                <li><a href="./tags.html#kubernetes-ref">Kubernetes
                    <span class="superscript">5</span>
</a></li>
            </ul>
<h4>Contact</h4>
<div id="sidebar-social-link">
    <a href="https://github.com/hazelement" title="" target="_blank" rel="nofollow noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" aria-label="GitHub" role="img" viewBox="0 0 512 512"><rect width="512" height="512" rx="15%" fill="#1B1817"/><path fill="#fff" d="M335 499c14 0 12 17 12 17H165s-2-17 12-17c13 0 16-6 16-12l-1-50c-71 16-86-28-86-28-12-30-28-37-28-37-24-16 1-16 1-16 26 2 40 26 40 26 22 39 59 28 74 22 2-17 9-28 16-35-57-6-116-28-116-126 0-28 10-51 26-69-3-6-11-32 3-67 0 0 21-7 70 26 42-12 86-12 128 0 49-33 70-26 70-26 14 35 6 61 3 67 16 18 26 41 26 69 0 98-60 120-117 126 10 8 18 24 18 48l-1 70c0 6 3 12 16 12z"/></svg>
    </a>
</div>
            





            





        </section>
</div>
</article>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>                    </div>
                    <div class="span1"></div>
                </div>
            </div>
        </div>
<footer>




    <div id="fpowered">
        Powered by: <a href="http://getpelican.com/" title="Pelican Home Page" target="_blank" rel="nofollow noopener noreferrer">Pelican</a>
        Theme: <a href="https://elegant.oncrashreboot.com/" title="Theme Elegant Home Page" target="_blank" rel="nofollow noopener noreferrer">Elegant</a>
    </div>
</footer>            <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="./theme/js/elegant.prod.9e9d5ce754.js"></script>
        <script>
            function validateForm(query)
            {
                return (query.length > 0);
            }
        </script>

    <script>
    (function () {
        if (window.location.hash.match(/^#comment-\d+$/)) {
            $('#comment_thread').collapse('show');
        }
    })();
    window.onhashchange=function(){
        if (window.location.hash.match(/^#comment-\d+$/))
            window.location.reload(true);
    }
    $('#comment_thread').on('shown', function () {
        var link = document.getElementById('comment-accordion-toggle');
        var old_innerHTML = link.innerHTML;
        $(link).fadeOut(200, function() {
            $(this).text('Click here to hide comments').fadeIn(200);
        });
        $('#comment_thread').on('hidden', function () {
            $(link).fadeOut(200, function() {
                $(this).text(old_innerHTML).fadeIn(200);
            });
        })
    })
</script>

    </body>
    <!-- Theme: Elegant built for Pelican
        License : MIT -->
</html>